<div class="row">
  <div class="col-xs-12">
    <h3>
      Edit calendarEvents
      <button
        class="btn btn-primary pull-right"
        (click)="addEvent()">
        Add new
      </button>
      <div class="clearfix"></div>
    </h3>

    <table class="table table-bordered">

      <thead>
        <tr>
          <th>Employee</th>
          <th>Description</th>
          <th>Primary color</th>
          <th>Secondary color</th>
          <th>Begins on</th>
          <th>Ends on</th>
          <th>Remove</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let event of calendarEvents; let index = index">
          <td>
            <select [(ngModel)]="calendarEvents.employee" (change)="refresh.next()">
              <option *ngFor="let employee of employees; let indx = index" [value]="employee.index">
                {{ employee.name }} {{ employee.firstLastName }}
              </option>
            </select>
          </td>
          <td>
            <input
              type="text"
              class="form-control"
              [(ngModel)]="event.title"
              (keyup)="refresh.next()">
          </td>
          <td>
            <input
              type="color"
              [(ngModel)]="event.color.primary"
              (change)="refresh.next()">
          </td>
          <td>
            <input
              type="color"
              [(ngModel)]="event.color.secondary"
              (change)="refresh.next()">
          </td>
          <td>
            <calendar-utils-date-time-picker
              [(ngModel)]="event.start"
              (ngModelChange)="refresh.next()"
              placeholder="Not set">
            </calendar-utils-date-time-picker>
          </td>
          <td>
            <calendar-utils-date-time-picker
              [(ngModel)]="event.end"
              (ngModelChange)="refresh.next()"
              placeholder="Not set">
            </calendar-utils-date-time-picker>
          </td>
          <td>
            <button
              class="btn btn-danger"
              (click)="calendarEvents.splice(index, 1); refresh.next()">
              Delete
            </button>
          </td>
        </tr>
      </tbody>

    </table>

  </div>
</div>
