<div class="row">
  <div class="col-xs-12">
    <h2>{{ user.name + ' ' + user.firstLastName + ' ' + user.secondLastName}}</h2>
    <div class="row">
      <div class="col-xs-12">
        <p><strong>Join Date</strong>: {{ user.joinDate }}</p>
        <p><strong>Team</strong>: {{ user.teamId }}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-4">
        <button class="btn btn-primary pull-left" (click)="onEditUser()">Edit User</button>
        <button class="btn btn-danger pull-right" (click)="onDeleteUser()">Delete User</button>
      </div>
    </div>
  </div>
</div>
