<div class="row">
  <div class="col-xs-12">
    <form [formGroup]="employeeForm" (ngSubmit)="onEmployeeSubmit()">
      <div class="row">
        <div class="col-xs-12">

          <h2 *ngIf="this.isEditing">Edit Employee</h2>
          <h2 *ngIf="!this.isEditing">Add Employee</h2>
          <div class="row">
            <div class="col-xs-12">
                <label for="name">Name</label>
                <input type="text"
                name="name"
                id="name"
                formControlName="name"
                class="form-control">
            </div>
          </div>


          <div class="row">
            <div class="col-xs-12">
                <label for="firstLastName">First Last Name</label>
                <input type="text"
                name="firstLastName"
                id="firstLastName"
                formControlName="firstLastName"
                class="form-control">
            </div>
          </div>

          <div class="row">
            <div class="col-xs-12">
                <label for="secondLastName">Second Last Name</label>
                <input type="text"
                name="secondLastName"
                id="secondLastName"
                formControlName="secondLastName"
                class="form-control">
            </div>
          </div>

          <br>
          <div class="row">
            <div class="col-xs-12">
              <button class="btn btn-danger pull-left" type="reset">Clear</button>
              <button class="btn btn-success pull-right" type="submit" [disabled]="employeeForm.invalid">Save</button>
            </div>
          </div>

        </div>
      </div>
    </form>
  </div>
</div>
