<div class="row">
  <div class="col-xs-12">
    <form [formGroup]="userForm" (ngSubmit)="onUserSubmit()">
      <div class="row">
        <div class="col-xs-12">

          <div class="row">
            <div class="col-xs-12">
                <label for="name">Name</label>
                <input type="text"
                name="name"
                id="name"
                formControlName="name"
                class="form-control">
            </div>
          </div>


          <div class="row">
            <div class="col-xs-12">
                <label for="firstLastName">First Last Name</label>
                <input type="text"
                name="firstLastName"
                id="firstLastName"
                formControlName="firstLastName"
                class="form-control">
            </div>
          </div>

          <div class="row">
            <div class="col-xs-12">
                <label for="secondLastName">Second Last Name</label>
                <input type="text"
                name="secondLastName"
                id="secondLastName"
                formControlName="secondLastName"
                class="form-control">
            </div>
          </div>

          <div class="row">
            <div class="col-xs-12">
                <label for="joinDate">Join Date</label>
                <input type="text"
                name="joinDate"
                id="joinDate"
                formControlName="joinDate"
                class="form-control">
            </div>
          </div>

          <div class="row">
            <div class="col-xs-12">
                <label for="teamId">Team</label>
                <input type="text"
                name="teamId"
                id="teamId"
                formControlName="teamId"
                class="form-control">
            </div>
          </div>

          <div class="row">
            <div class="col-xs-12">
              <button class="btn btn-danger" type="button" (click)="onFetchData()">Clear</button>
              <button class="btn btn-success" type="submit" [disabled]="userForm.invalid">Save</button>
            </div>
          </div>

        </div>
      </div>
    </form>
  </div>
</div>
